<h2 class="calendar">Semana 31 Mayo - 6 Junio</h2>


<hr>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="obj-th"><h4 class="obj">Objetivos</h4></th>
        <th><h4 class="not-do"> No hacer</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>

       
          	   <li>Construir blog y agregar posts</li>
               <li>Avanzar en proyecto Angular</li>
               <li>Levantarme mas temprano</li>

        </td>

        <td>
        
               <li>Procastinar</li>
               <li>Lev. tarde</li>

		    </td>
        
      </tr>
    </tbody>
  </table>

<div id="calendar-container"></div>


